/* ============================ */
/* ========== SETUPS ========== */
/* ============================ */

* {
  box-sizing: border-box;
}

body {
  font-family: "Oxanium", cursive;
  margin: 0;
  font-size: 100%;
}

.content-container {
  width: 84%;
  margin: 1.3rem auto;
}
/* ============================ */
/* ========== HEADER ========== */
/* ============================ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header figure {
  width: 6.125rem;
  margin: 0;
  color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.375rem;
}
header h6 {
  font-weight: 700;
  font-size: 1.375rem;
  color: #000000;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
}
header nav {
  width: 35%;
}
header ul {
  display: flex;
  justify-content: space-between;
}
header li {
  list-style-type: none;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  line-height: 1.5rem;
}

header a {
  color: rgba(84, 108, 128, 1);
  text-decoration: none;
}

header a:hover {
  color: #303e49;
  text-decoration: underline;
  text-decoration-color: #3a78f2;
}

header button {
  width: 8.9rem;
  height: 3.1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.625rem;
  background-color: #282a2c;
  color: #ffffff;
  line-height: 1.25rem;
}

/* HERO */
#hero {
  display: flex;
}
#hero-content {
  display: flex;
  width: 92%;
  margin: auto;
  margin-right: 0;
}

#hero > img {
  width: 10.6rem;
  height: 10.5rem;
  margin-left: -5.4rem;
}
#hero section {
  width: 48%;
}
#hero h1 {
  color: #282a2c;
  font-size: 6rem;
  font-weight: 600;
}

h1 .delivered {
  color: #3a78f2;
}

.btn-group button {
  font-size: 1rem;
  font-weight: 500;
  width: 13rem;
  height: 4rem;
  padding: 0.75rem 1rem;
  border: 0.0625rem solid #3a78f2;
  color: #3a78f2;
  background-color: #ffffff;
  border-radius: 0.625rem;
}
.btn-group button:nth-child(1) {
  color: #f8f8f8;
  background-color: #3a78f2;
  margin-right: 2rem;
}
.btn-group button:nth-child(1) img {
  margin-left: 0.375rem;
}

#hero-img {
  width: 52%;
}
#hero-img img {
  width: 100%;
  height: 100%;
}
/* ============================ */
/* ========= SERVICE 1 ======== */
/* ============================ */
#services-1 {
  text-align: center;
  width: 84%;
  margin: 7.5rem auto;
}

#services-1 h2 {
  color: #232425;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.375rem;
  margin: 1rem auto;
}
#services-1 > p {
  font-size: 1.5rem;
  line-height: 1.6875rem;
  margin: 0;
}

#services-1__content {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#services-1__content:nth-of-type(1) {
  margin-top: 4.0625rem;
}

.service__container {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
}

.service__container:nth-of-type(1) .service:nth-of-type(3) .img,
.service__container:nth-of-type(2) .img {
  background-color: rgba(48, 62, 73, 1);
}
.service__container .service {
  padding: 2.6875rem 3.1875rem;
  border: 0.125rem solid #dcdcdc;
  border-radius: 1rem;
}
.service__container .service:nth-of-type(2) {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.service:hover {
  background-color: #3a78f2;
}
.service:hover h3,
.service:hover p,
.service:hover h4 {
  color: #ffffff;
}

.service .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #1d2225;
  border-radius: 0.5625rem;
}

.service:hover .img {
  background-color: #ffffff !important;
}

.service h3 {
  color: #1d2225;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.875rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.service p {
  margin: 0;
  padding: 0;
  color: rgba(124, 124, 124, 1);
  font-size: 1rem;
  line-height: 1.5rem;
}
.service .img img {
  width: 2.0625rem;
  height: 2.0625rem;
}

.service h4 {
  color: rgba(29, 34, 37, 1);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 2.375rem;
}

/* ============================ */
/* ========= SERVICE 2 ======== */
/* ============================ */

#services-2__header {
  background-color: rgba(58, 120, 242, 1);
  height: 46.4375rem;
  margin-bottom: 26.15625rem;
  position: relative;
}

#services-2__header .content-container {
  padding-top: 6.375rem;
}

#services-2__header h2,
p {
  margin: 0;
  padding: 0;
}

#services-2__header p {
  color: #f5f5f5;
  font-size: 1.5rem;
  line-height: 1.6875rem;
}
#services-2__header h2 {
  width: 31rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: #ffffff;
}

#services-2__header .video {
  padding: 0;
  margin-top: 6.625rem;
  margin-bottom: 0;
  display: block;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
video {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

button.play {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#img {
  position: relative;
}
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#services-2__body .row {
  display: flex;
}

.row:first-of-type {
  margin-bottom: 3.375rem;
}

.message {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.message:nth-of-type(1),
.message:nth-of-type(3) {
  margin-right: 6.05875rem;
}

.message img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.1875rem;
}

.message .serve {
  width: 100%;
}

.serve h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: rgba(29, 34, 37, 1);
  margin: 0;
  margin-bottom: 1rem;
}

.serve p {
  color: rgba(124, 124, 124, 1);
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 0;
}
/* Services footer */
#services-2__footer {
  background-color: #3a78f2;
  display: flex;
  justify-content: space-between;
  padding: 4.0625rem 7.5rem 4.375rem 7.5rem;
  margin: 0;
  margin-top: 8.1875rem;
}

.footer__content {
  border-right: 0.125rem solid rgba(255, 255, 255, 1);
  padding: 0;
  padding-right: 3.3rem;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
.footer__content:first-of-type {
  padding-left: 0;
}
.footer__content:last-of-type {
  padding-right: 0;
}
.footer__content:last-of-type {
  border: none;
}

.footer__content h3 {
  font-size: 2.8125rem;
  margin: 0;
  font-weight: 700;
  line-height: 3.299375rem;
  color: rgb(255, 255, 255);
}

.footer__content p {
  color: rgba(220, 220, 220, 1);
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.02rem;
  text-align: left;
}

/* ============================ */
/* ========== Pricing ========= */
/* ============================ */
#pricing-container {
  width: 84%;
  margin: 7.4375rem auto 8.4375rem auto;
}
#pricing-container h2,
#pricing-container p {
  text-align: center;
}

#pricing-container h2,
#pricing-container p {
  margin: 0;
}
#pricing-container h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 4.375rem;
  color: rgb(35, 36, 37);
}

#pricing-container p {
  font-size: 1.5rem;
  line-height: 1.6875rem;
  color: #303e49;
}
table {
  margin-top: 4.0625rem;
  margin-bottom: 8.5625rem;
}
table thead,
table tr:nth-child(even) {
  background-color: rgba(58, 120, 242, 0.08);
}

tfoot {
  background-color: rgb(255, 255, 255);
}
/* ============================ */
/* =========== ABOUT ========== */
/* ============================ */
#about {
  background-color: rgb(245, 245, 245);
  padding-top: 6.625rem;
  padding-bottom: 6.625rem;
}
#about__container {
  width: 80%;
  height: auto;
  margin: auto;
}
#about__header {
  width: 51%;
  margin: 2rem auto;
}

#about__header * {
  text-align: center;
}

#about__header p {
  width: 24rem;
  margin: auto;
  color: rgb(48, 62, 73);
  line-height: 1.6875rem;
  font-size: 1.5rem;
}
#about__header h2 {
  line-height: 4.375rem;
  font-weight: 600;
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 3.3125rem;
  color: rgba(35, 36, 37, 1);
}

#about__body {
  display: flex;
  justify-content: space-between;
}
.about__body__client {
  width: 24rem;
  padding: 1.69rem 2.06rem;
  background-color: rgb(248, 248, 248);
}
.about__body__client:nth-of-type(2) {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.about__body__client p {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.about__body__client p:nth-of-type(1) {
  margin-top: 2.125rem;
}
.about__body__client p:nth-of-type(2) {
  margin: 0;
  margin-top: 2rem;
}
.about__body__client:hover {
  background-color: #fffefe;
}

.about__body__client__title {
  display: flex;
}
.about__body__client__title img {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  margin-right: 1rem;
}

hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
hgroup h3,
hgroup h6 {
  margin: 0;
}

hgroup h3 {
  color: rgb(48, 62, 73);
  font-size: 1.5rem;
  line-height: 1.875rem;
}
hgroup h6 {
  font-family: "DM Sans", sans-serif;
  line-height: 1.302rem;
  font-weight: 500;
  color: rgba(124, 124, 124, 1);
}

#about button {
  color: rgba(248, 248, 248, 1);
  background: rgba(58, 120, 242, 1);
  border-radius: 0.4rem;
  border: none;
  width: 10.875rem;
  height: 4rem;
  display: block;
  margin: 3.125rem auto;
  padding: 0.75rem 1rem;
}

#about button:hover {
  cursor: pointer;
}
/* ============================ */
/* ========== FOOTER ========== */
/* ============================ */ ;
